<div class='category'>
  <div class='tag-top inline-block vertical-align middle'>
    <%= link_to "カテゴリー", new_tag_path, class: 'inline-block vertical-align middle category-title' %>
  </div>
  <% @tags.each do |tag| %>
    <p><%= link_to tag.name, tag_path(tag), class: 'category-list' %></p>
  <% end %>
</div>