/*
 *= require_tree .
 *= require_self
 */

  @import "bootstrap";

  .login{
    color: blue;
    text-decoration: none;
  }

  .inline-block{
    display: inline-block;
  }

  .tag-top{
    margin: 10px;
  }

  .icon{
    width: 80px;
    height: 80px;
  }

  .header-list{
    text-decoration: none;
    color: black;
  }
  